# 아이리스 회귀

In [1]:
import numpy as np 
import pandas as pd

In [2]:
df  = pd.read_csv('../static/data/iris_train.csv')
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.3,1.7,0.5,0
1,6.1,3.0,4.9,1.8,2
2,5.1,3.4,1.5,0.2,0
3,5.1,3.5,1.4,0.3,0
4,5.2,3.4,1.4,0.2,0

In [3]:
df.columns = ['sl', 'sw', 'pl', 'pw', 'species']
df.head()

    sl   sw   pl   pw  species
0  5.1  3.3  1.7  0.5        0
1  6.1  3.0  4.9  1.8        2
2  5.1  3.4  1.5  0.2        0
3  5.1  3.5  1.4  0.3        0
4  5.2  3.4  1.4  0.2        0

In [4]:
feature_name = 'pl'

In [6]:
X = df.drop(columns=feature_name, axis=1).values
y = df[feature_name].values

In [7]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X, y)
weight, bias = lr.coef_, lr.intercept_

In [9]:
df_test = pd.read_csv('../static/data/iris_test.csv')
df_test.columns = ['sl', 'sw', 'pl', 'pw', 'species']
df_test.head()

    sl   sw   pl   pw  species
0  4.8  3.0  1.4  0.3        0
1  4.6  3.6  1.0  0.2        0
2  4.8  3.0  1.4  0.1        0
3  4.7  3.2  1.6  0.2        0
4  4.9  2.4  3.3  1.0        1

In [13]:
print(weight)
print(bias)

[ 0.70111928 -0.54748609  1.04279461  0.45743148]
-0.38104656269441195

In [11]:
index = 0
X_test = df_test.drop(columns=feature_name, axis=1).values[index]
pred_value = np.dot(X_test, weight.T) + bias

In [12]:
pred_value

1.6547061107358148