In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
key_fd = open('gov_data_api_key.txt', mode='r')
govapi_key = key_fd.read(100)
key_fd.close()

In [3]:
start_date = '20201001'
end_date = '20201001'
page = 1

In [4]:
corona_url = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19SidoInfStateJson'
url = f'{corona_url}?ServiceKey={govapi_key}&pageNo={page}&numOfRows=10&startCreateDt={start_date}&endCreateDt={end_date}'

In [5]:
result = requests.get(url)
soup = BeautifulSoup(result.text, 'xml')
resultCode = soup.find('resultCode').get_text()
if resultCode == '00':
    print(soup.find('totalCount').string)
elif resultCode == '99':
    print(soup.find('resultMsg').string)

19

### 시도 발생 현황

In [6]:
createDt_list,deathCnt_list,defCnt_list,gubun_list,incDec_list = [],[],[],[],[]
isolClearCnt_list,isolIngCnt_list,localOccCnt_list,overFlowCnt_list = [],[],[],[]
qurRate_list,seq_list,stdDay_list,updateDt_list = [],[],[],[]
items = soup.find_all('item')
for item in items:
    createDt_list.append(item.find('createDt').string if item.find('createDt') else '')
    deathCnt_list.append(item.find('deathCnt').string if item.find('deathCnt') else '')
    defCnt_list.append(item.find('defCnt').string if item.find('defCnt') else '')
    gubun_list.append(item.find('gubun').string if item.find('gubun') else '')
    incDec_list.append(item.find('incDec').string if item.find('incDec') else '')
    isolClearCnt_list.append(item.find('isolClearCnt').string if item.find('isolClearCnt') else '')
    isolIngCnt_list.append(item.find('isolIngCnt').string if item.find('isolIngCnt') else '')
    localOccCnt_list.append(item.find('localOccCnt').string if item.find('localOccCnt') else '')
    overFlowCnt_list.append(item.find('overFlowCnt').string if item.find('overFlowCnt') else '')
    qurRate_list.append(item.find('qurRate').string if item.find('qurRate') else '')
    seq_list.append(item.find('seq_list').string if item.find('seq_list') else '')
    stdDay_list.append(item.find('stdDay').string if item.find('stdDay') else '')
    updateDt_list.append(item.find('updateDt').string if item.find('updateDt') else '')

df = pd.DataFrame({
    '등록시간':createDt_list, '사망자':deathCnt_list, '확진자':defCnt_list,
    '광역시도':gubun_list, '전일대비':incDec_list, '격리해제':isolClearCnt_list, 
    '격리중':isolIngCnt_list, '지역발생':localOccCnt_list,'해외유입':overFlowCnt_list,
    '10만명당':qurRate_list, 'ID':seq_list, '기준시간':stdDay_list, '수정시간':updateDt_list
})
df

,등록시간,사망자,확진자,광역시도,전일대비,격리해제,격리중,지역발생,해외유입,10만명당,ID,기준시간,수정시간
0,2020-10-01 09:41:42.122,0,1517,검역,6,1386,131,0,6,-,,2020년 10월 01일 00시,null
1,2020-10-01 09:41:42.122,0,59,제주,0,55,4,0,0,8.80,,2020년 10월 01일 00시,null
2,2020-10-01 09:41:42.122,0,291,경남,0,276,15,0,0,8.66,,2020년 10월 01일 00시,null
3,2020-10-01 09:41:42.122,56,1556,경북,5,1445,55,5,0,58.44,,2020년 10월 01일 00시,null
4,2020-10-01 09:41:42.122,2,170,전남,1,155,13,1,0,9.12,,2020년 10월 01일 00시,null
5,2020-10-01 09:41:42.122,0,128,전북,0,107,21,0,0,7.04,,2020년 10월 01일 00시,null
6,2020-10-01 09:41:42.122,6,487,충남,3,422,59,3,0,22.95,,2020년 10월 01일 00시,null
7,2020-10-01 09:41:42.122,1,172,충북,1,144,27,1,0,10.75,,2020년 10월 01일 00시,null
8,2020-10-01 09:41:42.121,3,224,강원,0,212,9,0,0,14.54,,2020년 10월 01일 00시,null
9,2020-10-01 09:41:42.121,74,4405,경기,21,3921,410,17,4,33.24,,2020년 10월 01일 00시,null
10,2020-10-01 09:41:42.121,0,76,세종,0,67,9,0,0,22.20,,2020년 10월 01일 00시,null
11,2020-10-01 09:41:42.121,2,147,울산,0,137,8,0,0,12.82,,2020년 10월 01일 00시,null
12,2020-10-01 09:41:42.121,4,360,대전,0,326,30,0,0,24.42,,2020년 10월 01일 00시,null
13,2020-10-01 09:41:42.121,3,495,광주,0,477,15,0,0,33.98,,2020년 10월 01일 00시,null
14,2020-10-01 09:41:42.121,8,919,인천,3,825,86,3,0,31.09,,2020년 10월 01일 00시,null
15,2020-10-01 09:41:42.12,195,7133,대구,1,6917,21,1,0,292.76,,2020년 10월 01일 00시,null
16,2020-10-01 09:41:42.12,4,427,부산,6,361,62,6,0,12.52,,2020년 10월 01일 00시,null
17,2020-10-01 09:41:42.12,57,5323,서울,30,4433,833,30,0,54.69,,2020년 10월 01일 00시,null
18,2020-10-01 09:41:42.12,415,23889,합계,77,21666,1808,67,10,46.08,,2020년 10월 01일 00시,null

### region 테이블 생성

In [7]:
import sqlite3
conn = sqlite3.connect('../db/covid.db')
cur = conn.cursor()

In [8]:
sql_table = '''create table if not exists region (
  rid integer not null primary key autoincrement,
  stdDay text not null,
  deathCnt int not null,
  defCnt int not null,
  gubun text not null,
  incDec int not null,
  isolClearCnt int not null,
  isolIngCnt int not null,
  localOccCnt int not null,
  overFlowCnt int not null,
  qurRate float
);'''
cur.execute(sql_table)
conn.commit()

In [9]:
# 기준시간을 YYYY-MM-DD로 변환
def change_date(x):
    y = x.split()
    month = y[1][:-1] if len(y[1][:-1]) == 2 else '0'+y[1][:-1]
    day = y[2][:-1] if len(y[2][:-1]) == 2 else '0'+y[2][:-1]
    return f'{y[0][:-1]}-{month}-{day}'

In [10]:
params = [change_date(df['기준시간'][0]), int(df['사망자'][0]), int(df['확진자'][0]), 
          df['광역시도'][0], int(df['전일대비'][0]), int(df['격리해제'][0]), 
          int(df['격리중'][0]), int(df['지역발생'][0]), int(df['해외유입'][0])]
params.append(None if df['10만명당'][0] == '-' else float(df['10만명당'][0]))
params

['2020-10-01', 0, 1517, '검역', 6, 1386, 131, 0, 6, None]

In [13]:
sql_insert = '''insert into region(stdDay, deathCnt, defCnt, gubun, incDec, isolClearCnt,
isolIngCnt, localOccCnt, overFlowCnt, qurRate) values(?,?,?,?,?,?,?,?,?,?);'''

### 3월 1일 ~ 12월 21일

In [14]:
from tqdm import tqdm_notebook
month_dict = {3:31, 4:30, 5:31, 6:30, 7:31, 8:31, 9:30, 10:31, 11:30, 12:21}

In [15]:
for k, v in tqdm_notebook(month_dict.items()):
    month = str(k) if k >= 10 else f'0{k}'
    for i in range(1, v+1):
        day = str(i) if i >= 10 else f'0{i}'
        date = f'2020{month}{day}'
        #print(date)
        page = 1
        url = f'{corona_url}?ServiceKey={govapi_key}&pageNo={page}&numOfRows=10&startCreateDt={date}&endCreateDt={date}'
        soup = BeautifulSoup(requests.get(url).text, 'xml')

        items = soup.find_all('item')
        item_count = len(items)
        if item_count == 0:
            continue
        for index, item in enumerate(items):
            if item_count > 30 and index >= int(item_count/2):
                break
            stdDay = change_date(item.find('stdDay').string)
            deathCnt = int(item.find('deathCnt').string) if item.find('deathCnt') else 0
            defCnt = int(item.find('defCnt').string) if item.find('defCnt') else 0
            gubun = item.find('gubun').string
            incDec = int(item.find('incDec').string)
            isolClearCnt = int(item.find('isolClearCnt').string) if item.find('isolClearCnt') else 0
            isolIngCnt = int(item.find('isolIngCnt').string) if item.find('isolIngCnt') else 0
            localOccCnt = int(item.find('localOccCnt').string) if item.find('localOccCnt') else 0
            overFlowCnt = int(item.find('overFlowCnt').string) if item.find('overFlowCnt') else 0
            qurRate = None
            if item.find('qurRate'):
                qur = item.find('qurRate').string
                if qur != None and qur.count('.') == 2:
                    qur = qur[:-1]
                #print(qur)
                if qur != None and qur[0] in '0123456789':
                    qurRate = float(qur)
        
            params = [stdDay, deathCnt, defCnt, gubun, incDec, isolClearCnt, isolIngCnt, 
                    localOccCnt, overFlowCnt, qurRate]
            #print(params)
            cur.execute(sql_insert, params)
            conn.commit()

HBox(children=(FloatProgress(value=0.0, max=10.0), HTML(value='')))

In [43]:
cur.close()
conn.close()

### 연령별, 성별 현황

In [16]:
start_date = '20201001'
end_date = '20201001'
page = 1

In [17]:
corona_url = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19GenAgeCaseInfJson'
url = f'{corona_url}?ServiceKey={govapi_key}&pageNo={page}&numOfRows=10&startCreateDt={start_date}&endCreateDt={end_date}'

In [18]:
result = requests.get(url)
soup = BeautifulSoup(result.text, 'xml')
resultCode = soup.find('resultCode').get_text()
if resultCode == '00':
    print(soup.find('totalCount').string)
elif resultCode == '99':
    print(soup.find('resultMsg').string)

11

In [20]:
createDt_list,confCase_list,confCaseRate_list,death_list,deathRate_list = [],[],[],[],[]
gubun_list,criticalRate_list,seq_list,updateDt_list = [],[],[],[]
items = soup.find_all('item')
for item in items:
    createDt_list.append(item.find('createDt').string if item.find('createDt') else '')
    confCase_list.append(item.find('confCase').string if item.find('confCase') else '')
    confCaseRate_list.append(item.find('confCaseRate').string if item.find('confCaseRate') else '')
    death_list.append(item.find('death').string if item.find('death') else '')
    deathRate_list.append(item.find('deathRate').string if item.find('deathRate') else '')
    criticalRate_list.append(item.find('criticalRate').string if item.find('criticalRate') else '')
    gubun_list.append(item.find('gubun').string if item.find('gubun') else '')
    seq_list.append(item.find('seq').string if item.find('seq') else '')
    updateDt_list.append(item.find('updateDt').string if item.find('updateDt') else '')

df = pd.DataFrame({
    '등록시간':createDt_list, '확진자':confCase_list, '확진률':confCaseRate_list,
    '사망자':death_list, '사망률':deathRate_list, '치명률':criticalRate_list, 
    '구분':gubun_list, 'ID':seq_list, '수정시간':updateDt_list
})
df

,등록시간,확진자,확진률,사망자,사망률,치명률,구분,ID,수정시간
0,2020-10-01 14:25:26.073,584,2.44,0,0.00,0,0-9,3720,null
1,2020-10-01 14:25:26.073,1310,5.48,0,0.00,0,10-19,3719,null
2,2020-10-01 14:25:26.073,4769,19.96,0,0.00,0,20-29,3718,null
3,2020-10-01 14:25:26.073,2917,12.21,2,0.48,0.07,30-39,3717,null
4,2020-10-01 14:25:26.073,3192,13.36,4,0.96,0.13,40-49,3716,null
5,2020-10-01 14:25:26.073,4434,18.56,19,4.58,0.43,50-59,3715,null
6,2020-10-01 14:25:26.073,3795,15.89,44,10.60,1.16,60-69,3714,null
7,2020-10-01 14:25:26.073,1913,8.01,138,33.25,7.21,70-79,3713,null
8,2020-10-01 14:25:26.072,975,4.08,208,50.12,21.33,80 이상,3712,null
9,2020-10-01 14:25:26.072,12882,53.92,196,47.23,1.52,여성,3711,null
10,2020-10-01 14:25:26.072,11007,46.08,219,52.77,1.99,남성,3710,null

### agender 테이블 생성

In [21]:
conn = sqlite3.connect('../db/covid.db')
cur = conn.cursor()

In [22]:
sql_table = '''create table if not exists agender (
  agid integer not null primary key autoincrement,
  stdDay text not null,
  confCase int not null,
  confCaseRate float not null,
  death int not null,
  deathRate float not null,
  criticalRate float not null,
  gubun text not null,
  seq int,
  updateDt text);
'''
cur.execute(sql_table)
conn.commit()

In [23]:
month_dict = {3:31, 4:30, 5:31, 6:30, 7:31, 8:31, 9:30, 10:31, 11:30, 12:21}
for k, v in tqdm_notebook(month_dict.items()):
    month = str(k) if k >= 10 else f'0{k}'
    print(f'{k}월: ', end='')
    for i in range(1, v+1):
        day = str(i) if i >= 10 else f'0{i}'
        print(f'{i}-', end='')
        date = f'2020{month}{day}'
        page = 1
        url = f'{corona_url}?ServiceKey={govapi_key}&pageNo={page}&numOfRows=10&startCreateDt={date}&endCreateDt={date}'
        soup = BeautifulSoup(requests.get(url).text, 'xml')

        items = soup.find_all('item')
        item_count = len(items)
        print(f'{item_count}, ', end='')
    print()

HBox(children=(FloatProgress(value=0.0, max=10.0), HTML(value='')))

3월: 1-0, 2-0, 3-0, 4-0, 5-0, 6-0, 7-0, 8-0, 9-0, 10-0, 11-0, 12-0, 13-0, 14-0, 15-0, 16-0, 17-0, 18-0, 19-0, 20-0, 21-0, 22-0, 23-0, 24-0, 25-0, 26-0, 27-0, 28-0, 29-0, 30-0, 31-0,
4월: 1-0, 2-11, 3-0, 4-0, 5-0, 6-0, 7-12, 8-11, 9-11, 10-11, 11-11, 12-11, 13-11, 14-11, 15-11, 16-11, 17-11, 18-11, 19-11, 20-11, 21-11, 22-11, 23-11, 24-11, 25-11, 26-11, 27-11, 28-11, 29-11, 30-11,
5월: 1-11, 2-11, 3-11, 4-11, 5-11, 6-11, 7-11, 8-11, 9-11, 10-11, 11-11, 12-11, 13-11, 14-11, 15-11, 16-11, 17-11, 18-11, 19-11, 20-11, 21-11, 22-0, 23-11, 24-11, 25-11, 26-11, 27-11, 28-11, 29-11, 30-11, 31-11,
6월: 1-0, 2-11, 3-11, 4-11, 5-11, 6-11, 7-11, 8-11, 9-11, 10-11, 11-11, 12-11, 13-11, 14-11, 15-0, 16-11, 17-11, 18-11, 19-11, 20-11, 21-11, 22-11, 23-11, 24-11, 25-11, 26-11, 27-11, 28-11, 29-11, 30-11,
7월: 1-11, 2-11, 3-11, 4-11, 5-11, 6-11, 7-11, 8-11, 9-11, 10-11, 11-11, 12-11, 13-11, 14-11, 15-11, 16-11, 17-11, 18-11, 19-11, 20-11, 21-11, 22-11, 23-11, 24-11, 25-11, 26-11, 27-11, 28-11, 29-11, 30-11, 31-11,
8월: 1-11, 2-11, 3-11, 4-11, 5-11, 6-11, 7-11, 8-11, 9-11, 10-11, 11-11, 12-11, 13-11, 14-11, 15-11, 16-11, 17-11, 18-11, 19-11, 20-11, 21-11, 22-11, 23-11, 24-11, 25-11, 26-11, 27-11, 28-11, 29-11, 30-11, 31-11,
9월: 1-11, 2-11, 3-11, 4-11, 5-11, 6-11, 7-11, 8-11, 9-11, 10-11, 11-11, 12-11, 13-11, 14-11, 15-11, 16-11, 17-11, 18-11, 19-11, 20-11, 21-11, 22-11, 23-11, 24-11, 25-11, 26-11, 27-11, 28-11, 29-11, 30-11,
10월: 1-11, 2-11, 3-11, 4-11, 5-11, 6-11, 7-11, 8-11, 9-0, 10-11, 11-11, 12-11, 13-11, 14-11, 15-11, 16-11, 17-11, 18-11, 19-11, 20-11, 21-11, 22-11, 23-11, 24-11, 25-11, 26-11, 27-11, 28-11, 29-11, 30-11, 31-11,
11월: 1-11, 2-11, 3-11, 4-11, 5-11, 6-22, 7-11, 8-11, 9-11, 10-11, 11-11, 12-11, 13-11, 14-11, 15-11, 16-11, 17-11, 18-11, 19-11, 20-11, 21-11, 22-11, 23-11, 24-11, 25-11, 26-11, 27-11, 28-11, 29-11, 30-11,
12월: 1-11, 2-11, 3-11, 4-11, 5-11, 6-11, 7-11, 8-11, 9-11, 10-11, 11-11, 12-11, 13-11, 14-11, 15-11, 16-11, 17-11, 18-11, 19-11, 20-11, 21-11,

In [24]:
sql_insert = '''insert into agender(stdDay, confCase, confCaseRate, death, deathRate,
criticalRate, gubun, seq, updateDt) values(?,?,?,?,?,?,?,?,?);
'''

In [25]:
# 3월은 데이터가 없으니 4월부터 시작함
month_dict = {4:30, 5:31, 6:30, 7:31, 8:31, 9:30, 10:31, 11:30, 12:21}
for k, v in tqdm_notebook(month_dict.items()):
    month = str(k) if k >= 10 else f'0{k}'
    for i in range(1, v+1):
        day = str(i) if i >= 10 else f'0{i}'
        date = f'2020{month}{day}'
        page = 1
        url = f'{corona_url}?ServiceKey={govapi_key}&pageNo={page}&numOfRows=10&startCreateDt={date}&endCreateDt={date}'
        soup = BeautifulSoup(requests.get(url).text, 'xml')

        items = soup.find_all('item')
        item_count = len(items)
        if item_count == 0:
            continue

        for item in items:
            createDt = item.find('createDt').string.split(' ')[0]
            confCase = int(item.find('confCase').string)
            confCaseRate = float(item.find('confCaseRate').string)
            death = int(item.find('death').string)
            deathRate = float(item.find('deathRate').string)
            criticalRate = float(item.find('criticalRate').string)
            gubun = item.find('gubun').string
            seq = int(item.find('seq').string)
            updateDt = item.find('updateDt').string

            params = [createDt, confCase, confCaseRate, death, deathRate, criticalRate,
                      gubun,seq,updateDt]
            cur.execute(sql_insert, params)
            conn.commit()

HBox(children=(FloatProgress(value=0.0, max=9.0), HTML(value='')))

In [26]:
cur.close()
conn.close()

### 해외 발생 현황

In [27]:
start_date = '20201001'
end_date = '20201001'
page = 1

In [28]:
corona_url = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19NatInfStateJson'
url = f'{corona_url}?ServiceKey={govapi_key}&pageNo={page}&numOfRows=10&startCreateDt={start_date}&endCreateDt={end_date}'

In [29]:
result = requests.get(url)
soup = BeautifulSoup(result.text, 'xml')
resultCode = soup.find('resultCode').get_text()
if resultCode == '00':
    print(soup.find('totalCount').string)
elif resultCode == '99':
    print(soup.find('resultMsg').string)

186

In [33]:
areaNm_list, areaNmCn_list, areaNmEn_list, createDt_list, natDeathCnt_list = [],[],[],[],[]
natDeathRate_list, natDefCnt_list, nationNm_list, nationNmCn_list = [],[],[],[]
nationNmEn_list, seq_list, stdDay_list, updateDt_list = [], [], [], []
items = soup.find_all('item')
for item in items:
    areaNm_list.append(item.find('areaNm').string if item.find('areaNm') else '')
    areaNmCn_list.append(item.find('areaNmCn').string if item.find('areaNmCn') else '')
    areaNmEn_list.append(item.find('areaNmEn').string if item.find('areaNmEn') else '')
    createDt_list.append(item.find('createDt').string if item.find('createDt') else '')
    natDeathCnt_list.append(item.find('natDeathCnt').string if item.find('natDeathCnt') else '')
    natDeathRate_list.append(item.find('natDeathRate').string if item.find('natDeathRate') else '')
    natDefCnt_list.append(item.find('natDefCnt').string if item.find('natDefCnt') else '')
    nationNm_list.append(item.find('nationNm').string if item.find('nationNm') else '')
    nationNmCn_list.append(item.find('nationNmCn').string if item.find('nationNmCn') else '')
    nationNmEn_list.append(item.find('nationNmEn').string if item.find('nationNmEn') else '')
    seq_list.append(item.find('seq').string if item.find('seq') else '')
    stdDay_list.append(item.find('stdDay').string if item.find('stdDay') else '')
    updateDt_list.append(item.find('updateDt').string if item.find('updateDt') else '')

df = pd.DataFrame({
    '대륙명(한글)': areaNm_list, '대륙명(중문)': areaNmCn_list, '대륙명(영문)': areaNmEn_list,
    '등록시간': createDt_list, '사망자': natDeathCnt_list, '사망율': natDeathRate_list, 
    '확진자': natDefCnt_list, '국가명(한글)': nationNm_list, '국가명(중문)': nationNmCn_list,
    '국가명(영문)': nationNmEn_list, 'ID': seq_list, '기준시간': stdDay_list,
    '수정시간': updateDt_list
})
df

,대륙명(한글),대륙명(중문),대륙명(영문),등록시간,사망자,사망율,확진자,국가명(한글),국가명(중문),국가명(영문),ID,기준시간,수정시간
0,기타,其他,Others,2020-10-01 10:31:33.605,1440,1.0494938378,137209,기타지역 영토,其他,Others,49056,2020년 10월 01일 09시,null
1,아프리카,非洲,Africa,2020-10-01 10:31:33.605,35,2.2364217252,1565,레소토,萊索托,Lesotho,49055,2020년 10월 01일 09시,null
2,아프리카,非洲,Africa,2020-10-01 10:31:33.605,7,1.4644351464,478,코모로,科摩羅,Comoros,49054,2020년 10월 01일 09시,null
3,아프리카,非洲,Africa,2020-10-01 10:31:33.605,15,1.6465422612,911,상투메프린시페,聖多美和普林西比,Sao Tome and Principe,49053,2020년 10월 01일 09시,null
4,아프리카,非洲,Africa,2020-10-01 10:31:33.605,49,1.8121301775,2704,남수단,南蘇丹,South Sudan,49052,2020년 10월 01일 09시,null
...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,아시아,亚洲,Asia,2020-10-01 10:31:31.906,0,0.0,46,마카오,澳门,Macau,48875,2020년 10월 01일 09시,null
182,아시아,亚洲,Asia,2020-10-01 10:31:31.905,7,1.3618677042,514,대만,台湾,Taiwan,48874,2020년 10월 01일 09시,null
183,아시아,亚洲,Asia,2020-10-01 10:31:31.905,105,2.0640849223,5087,홍콩,香港,Hong Kong,48873,2020년 10월 01일 09시,null
184,아시아,亚洲,Asia,2020-10-01 10:31:31.905,4634,5.4253401081,85414,중국,中国,China,48872,2020년 10월 01일 09시,null
185,아시아,亚洲,Asia,2020-10-01 10:31:31.905,415,1.7372012223,23889,한국,韓国,South Korea,48871,2020년 10월 01일 00시,null

### overseas 테이블 생성

In [34]:
conn = sqlite3.connect('../db/covid.db')
cur = conn.cursor()

In [35]:
sql_table = '''create table if not exists overseas (
  ovid integer not null primary key autoincrement,
  stdDay text not null,
  areaNm text not null,
  nationNm text not null,
  deathCnt int not null,
  deathRate float not null,
  defCnt int not null);
'''
cur.execute(sql_table)
conn.commit()

In [36]:
corona_url = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19NatInfStateJson'
month_dict = {3:31, 4:30, 5:31, 6:30, 7:31, 8:31, 9:30, 10:31, 11:30, 12:21}
for k, v in tqdm_notebook(month_dict.items()):
    month = str(k) if k >= 10 else f'0{k}'
    print(f'{k}월: ', end='')
    for i in range(1, v+1):
        day = str(i) if i >= 10 else f'0{i}'
        print(f'{i}-', end='')
        date = f'2020{month}{day}'
        page = 1
        url = f'{corona_url}?ServiceKey={govapi_key}&pageNo={page}&numOfRows=10&startCreateDt={date}&endCreateDt={date}'
        soup = BeautifulSoup(requests.get(url).text, 'xml')

        items = soup.find_all('item')
        item_count = len(items)
        print(f'{item_count}, ', end='')
    print()

HBox(children=(FloatProgress(value=0.0, max=10.0), HTML(value='')))

3월: 1-0, 2-0, 3-0, 4-0, 5-0, 6-0, 7-0, 8-0, 9-0, 10-0, 11-0, 12-0, 13-0, 14-0, 15-0, 16-148, 17-154, 18-162, 19-164, 20-173, 21-178, 22-185, 23-190, 24-194, 25-198, 26-200, 27-203, 28-205, 29-205, 30-206, 31-206,
4월: 1-206, 2-209, 3-209, 4-210, 5-211, 6-212, 7-213, 8-214, 9-215, 10-215, 11-215, 12-216, 13-216, 14-216, 15-216, 16-216, 17-216, 18-216, 19-216, 20-216, 21-216, 22-216, 23-216, 24-216, 25-216, 26-216, 27-216, 28-216, 29-218, 30-216,
5월: 1-183, 2-185, 3-185, 4-185, 5-186, 6-185, 7-185, 8-185, 9-185, 10-185, 11-185, 12-186, 13-185, 14-185, 15-186, 16-186, 17-186, 18-186, 19-186, 20-186, 21-186, 22-186, 23-186, 24-186, 25-186, 26-186, 27-186, 28-186, 29-186, 30-186, 31-186,
6월: 1-186, 2-186, 3-187, 4-186, 5-186, 6-186, 7-186, 8-186, 9-187, 10-186, 11-186, 12-186, 13-186, 14-186, 15-186, 16-186, 17-186, 18-186, 19-186, 20-186, 21-186, 22-186, 23-186, 24-186, 25-186, 26-186, 27-186, 28-186, 29-186, 30-186,
7월: 1-186, 2-186, 3-186, 4-186, 5-186, 6-186, 7-186, 8-187, 9-187, 10-186, 11-186, 12-186, 13-186, 14-186, 15-186, 16-186, 17-186, 18-186, 19-186, 20-187, 21-186, 22-186, 23-186, 24-186, 25-186, 26-186, 27-186, 28-186, 29-186, 30-186, 31-186,
8월: 1-186, 2-186, 3-186, 4-186, 5-186, 6-186, 7-186, 8-187, 9-186, 10-187, 11-186, 12-186, 13-186, 14-186, 15-186, 16-186, 17-186, 18-186, 19-186, 20-186, 21-186, 22-186, 23-186, 24-186, 25-186, 26-186, 27-186, 28-186, 29-186, 30-186, 31-186,
9월: 1-186, 2-186, 3-186, 4-186, 5-186, 6-186, 7-186, 8-186, 9-186, 10-186, 11-186, 12-186, 13-186, 14-186, 15-186, 16-186, 17-186, 18-186, 19-186, 20-186, 21-186, 22-186, 23-186, 24-186, 25-186, 26-186, 27-186, 28-186, 29-186, 30-186,
10월: 1-186, 2-186, 3-186, 4-186, 5-186, 6-186, 7-186, 8-186, 9-186, 10-186, 11-186, 12-186, 13-186, 14-186, 15-186, 16-186, 17-186, 18-186, 19-186, 20-186, 21-186, 22-186, 23-186, 24-186, 25-186, 26-186, 27-186, 28-186, 29-186, 30-186, 31-186,
11월: 1-186, 2-186, 3-186, 4-186, 5-186, 6-186, 7-186, 8-186, 9-186, 10-186, 11-186, 12-186, 13-186, 14-186, 15-186, 16-186, 17-189, 18-189, 19-189, 20-189, 21-189, 22-189, 23-189, 24-189, 25-189, 26-189, 27-189, 28-189, 29-189, 30-189,
12월: 1-189, 2-189, 3-189, 4-189, 5-189, 6-189, 7-189, 8-189, 9-189, 10-189, 11-189, 12-189, 13-189, 14-189, 15-189, 16-378, 17-189, 18-189, 19-189, 20-189, 21-189,

In [37]:
sql_insert = '''insert into overseas (stdDay, areaNm, nationNm, deathCnt, deathRate, defCnt)
values (?,?,?,?,?,?);'''

In [38]:
# 3월은 데이터가 없으니 4월부터 시작함
month_dict = {3:31, 4:30, 5:31, 6:30, 7:31, 8:31, 9:30, 10:31, 11:30, 12:21}
for k, v in tqdm_notebook(month_dict.items()):
    month = str(k) if k >= 10 else f'0{k}'
    for i in range(1, v+1):
        day = str(i) if i >= 10 else f'0{i}'
        date = f'2020{month}{day}'
        page = 1
        url = f'{corona_url}?ServiceKey={govapi_key}&pageNo={page}&numOfRows=10&startCreateDt={date}&endCreateDt={date}'
        soup = BeautifulSoup(requests.get(url).text, 'xml')

        items = soup.find_all('item')
        item_count = len(items)
        if item_count == 0:
            continue

        for item in items:
            stdDay = change_date(item.find('stdDay').string)
            areaNm = item.find('areaNm').string
            nationNm = item.find('nationNm').string
            deathCnt = int(item.find('natDeathCnt').string)
            deathRate = float(item.find('natDeathRate').string)
            defCnt = int(item.find('natDefCnt').string)

            params = [stdDay, areaNm, nationNm, deathCnt, deathRate, defCnt]
            cur.execute(sql_insert, params)
            conn.commit()

HBox(children=(FloatProgress(value=0.0, max=10.0), HTML(value='')))

OperationalError: database is locked

In [ ]:
cur.close()
conn.close()