# Boston 집값 다중 선형회귀

In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('../static/data/boston_train.csv')
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,6.53876,0.0,18.10,1.0,0.631,7.016,97.5,1.2024,24.0,666.0,20.2,392.05,2.96,50.0
1,0.01870,85.0,4.15,0.0,0.429,6.516,27.7,8.5353,4.0,351.0,17.9,392.43,6.36,23.1
2,9.82349,0.0,18.10,0.0,0.671,6.794,98.8,1.3580,24.0,666.0,20.2,396.90,21.24,13.3
3,8.98296,0.0,18.10,1.0,0.770,6.212,97.4,2.1222,24.0,666.0,20.2,377.73,17.60,17.8
4,0.15445,25.0,5.13,0.0,0.453,6.145,29.2,7.8148,8.0,284.0,19.7,390.68,6.86,23.3

In [3]:
feature_list = list(df.columns[:-4])
print(feature_list)

['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX']

In [4]:
X = df[feature_list].values
y = df.target.values
X.shape, y.shape

((379, 10), (379,))

In [5]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X, y)

LinearRegression()

In [6]:
weight, bias = lr.coef_, lr.intercept_
print(weight)
print(bias)

[ -0.19878607   0.07199088  -0.12275418   5.84042453 -13.86027594
   6.69673948  -0.05275528  -1.83295231   0.21417975  -0.01526654]
3.9996300394210635

### 테스트 데이터셋

In [7]:
df_test = pd.read_csv('../static/data/boston_test.csv')
df_test.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.17446,0.0,10.59,1.0,0.489,5.960,92.1,3.8771,4.0,277.0,18.6,393.25,17.27,21.7
1,0.75026,0.0,8.14,0.0,0.538,5.924,94.1,4.3996,4.0,307.0,21.0,394.33,16.30,15.6
2,0.09744,0.0,5.96,0.0,0.499,5.841,61.4,3.3779,5.0,279.0,19.2,377.56,11.41,20.0
3,9.39063,0.0,18.10,0.0,0.740,5.627,93.9,1.8172,24.0,666.0,20.2,396.90,22.88,12.8
4,1.46336,0.0,19.58,0.0,0.605,7.489,90.8,1.9709,5.0,403.0,14.7,374.43,1.73,50.0

In [8]:
df_test.shape

(127, 14)

In [9]:
index = 15

In [10]:
X_test = df_test[feature_list].values[index, :]
y_test = df_test.target[index]
X_test, y_test

(array([1.0290e-01, 3.0000e+01, 4.9300e+00, 0.0000e+00, 4.2800e-01,
        6.3580e+00, 5.2900e+01, 7.0355e+00, 6.0000e+00, 3.0000e+02]),
 22.2)

In [11]:
pred = np.dot(X_test, weight.T) + bias
pred

23.198021242942993

In [12]:
tmp = lr.predict(X_test.reshape(1,-1))
pred = np.round(tmp[0], 2)
pred

23.2