# Train / Test data set

In [1]:
import sklearn.datasets as sd
import pandas as pd 
from sklearn.model_selection import train_test_split

### Iris 데이터셋

In [2]:
iris = sd.load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['target'] = iris.target
X_train, X_test, y_train, y_test = train_test_split(
    df, iris.target, test_size=0.25, stratify=iris.target, random_state=2021
)

In [3]:
X_train.to_csv('static/data/iris_train.csv', index=False)
X_test.to_csv('static/data/iris_test.csv', index=False)

In [4]:
df.to_csv('static/clust_data/iris.csv', index=False)

### Wine 데이터셋

In [5]:
wine = sd.load_wine()
df = pd.DataFrame(wine.data, columns=wine.feature_names)
df['target'] = wine.target
X_train, X_test, y_train, y_test = train_test_split(
    df, wine.target, test_size=0.25, stratify=wine.target, random_state=2021
)

In [6]:
X_train.to_csv('static/data/wine_train.csv', index=False)
X_test.to_csv('static/data/wine_test.csv', index=False)

In [7]:
df.to_csv('static/clust_data/wine.csv', index=False)

### MNIST Digit 데이터셋

In [8]:
digits = sd.load_digits()
df = pd.DataFrame(digits.data, columns=digits.feature_names)
df['target'] = digits.target
X_train, X_test, y_train, y_test = train_test_split(
    df, digits.target, test_size=0.25, stratify=digits.target, random_state=2021
)

In [9]:
X_test.reset_index(inplace=True)

In [10]:
X_train.to_csv('static/data/digits_train.csv', index=False)
X_test.to_csv('static/data/digits_test.csv', index=False)

### 유방암 데이터셋

In [11]:
cancer = sd.load_breast_cancer()
df = pd.DataFrame(cancer.data, columns=cancer.feature_names)
df['target'] = cancer.target
X_train, X_test, y_train, y_test = train_test_split(
    df, cancer.target, test_size=0.25, stratify=cancer.target, random_state=2021
)

In [12]:

X_train.to_csv('static/data/cancer_train.csv', index=False)
X_test.to_csv('static/data/cancer_test.csv', index=False)

In [13]:
df.to_csv('static/clust_data/breast_cancer.csv', index=False)

### 당뇨병 데이터셋

In [14]:
diabetes = sd.load_diabetes()
df = pd.DataFrame(diabetes.data, columns=diabetes.feature_names)
df['target'] = diabetes.target
X_train, X_test, y_train, y_test = train_test_split(
    df, diabetes.target, test_size=0.25, random_state=2021
)

In [15]:
X_train.to_csv('static/data/diabetes_train.csv', index=False)
X_test.to_csv('static/data/diabetes_test.csv', index=False)

### Boston 데이터셋

In [16]:
boston = sd.load_boston()
df = pd.DataFrame(boston.data, columns=boston.feature_names)
df['target'] = boston.target
X_train, X_test, y_train, y_test = train_test_split(
    df, boston.target, test_size=0.25, random_state=2021
)

In [17]:
X_train.to_csv('static/data/boston_train.csv', index=False)
X_test.to_csv('static/data/boston_test.csv', index=False)

### Titanic 데이터셋

In [18]:
df = pd.read_csv('../../Machine-Learning-2021/00_data/titanic/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

- 데이터 전처리

In [20]:
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Cabin'].fillna('N',inplace=True)
df['Cabin'] = df['Cabin'].str[:1]
df['Embarked'].fillna('N',inplace=True)
df.drop(['PassengerId','Name','Ticket'], axis=1, inplace=True)

print(f'데이터셋 null 값의 개수: {df.isnull().sum().sum()}')

데이터셋 null 값의 개수: 0

In [21]:
from sklearn.preprocessing import LabelEncoder

features = ['Cabin', 'Sex', 'Embarked']
for feature in features:
    le = LabelEncoder()
    df[feature] = le.fit_transform(df[feature])

df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked
0         0       3    1  22.0      1      0   7.2500      7         3
1         1       1    0  38.0      1      0  71.2833      2         0
2         1       3    0  26.0      0      0   7.9250      7         3
3         1       1    0  35.0      1      0  53.1000      2         3
4         0       3    1  35.0      0      0   8.0500      7         3

In [22]:
X_train, X_test, y_train, y_test = train_test_split(
    df, df['Survived'], stratify=df['Survived'], test_size=0.25, random_state=2021
)

In [23]:
X_train.to_csv('static/data/titanic_train.csv', index=False)
X_test.to_csv('static/data/titanic_test.csv', index=False)

In [24]:
df['target'] = df.Survived
df.drop(['Survived'], axis=1, inplace=True)
df.head(3)

   Pclass  Sex   Age  SibSp  Parch     Fare  Cabin  Embarked  target
0       3    1  22.0      1      0   7.2500      7         3       0
1       1    0  38.0      1      0  71.2833      2         0       1
2       3    0  26.0      0      0   7.9250      7         3       1

In [25]:
df.to_csv('static/clust_data/titanic.csv', index=False)

### 피마 인디언 데이터셋

In [26]:
df = pd.read_csv('../../Machine-Learning-2021/00_data/diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

- 데이터 전처리

In [28]:
zero_features = ['Glucose','BloodPressure','SkinThickness','Insulin','BMI']

print(f"전체 {df['Pregnancies'].count()}개의 데이터 중\n")
for feature in zero_features:
    zero_count = len(df[df[feature] == 0])
    print(f'{feature} 0 건수는 {zero_count}개')

전체 768개의 데이터 중

Glucose 0 건수는 5개
BloodPressure 0 건수는 35개
SkinThickness 0 건수는 227개
Insulin 0 건수는 374개
BMI 0 건수는 11개

In [29]:
# 결측치라고 볼 수 있는 값이 0인 데이터들을 평균값으로 대체
for feature in zero_features:
    df.replace({feature: 0}, {feature: round(df[feature].mean(), 2)}, inplace=True)

In [30]:
# 제대로 처리되었는지 확인
zero_features = ['Glucose','BloodPressure','SkinThickness','Insulin','BMI']

print(f"전체 {df['Pregnancies'].count()}개의 데이터 중\n")
for feature in zero_features:
    zero_count = len(df[df[feature] == 0])
    print(f'{feature} 0 건수는 {zero_count}개')

전체 768개의 데이터 중

Glucose 0 건수는 0개
BloodPressure 0 건수는 0개
SkinThickness 0 건수는 0개
Insulin 0 건수는 0개
BMI 0 건수는 0개

In [31]:
X_train, X_test, y_train, y_test = train_test_split(
    df, df['Outcome'], stratify=df['Outcome'], test_size=0.25, random_state=2021
)

In [32]:
X_train.to_csv('static/data/pima_train.csv', index=False)
X_test.to_csv('static/data/pima_test.csv', index=False)

In [33]:
df.to_csv('static/clust_data/pima.csv', index=False)